#a1{
height: 430px;
width: 300px;
background-color: rgb(19, 219, 219);
float: left;
text-align: center;
}
#a2{
height: 430px;
width: 300px;
background-color: rgb(128, 98, 98);
float: left;
text-align: center;
margin-left: 50px;
}
#a3{
 height: 430px;
width:300px ;
background-color: rgb(85, 85, 129);
float: left;
text-align: center;
margin-left:50px ;
}




